
.navbar {
  background: linear-gradient(to left, #30B4E2, #ffffff) !important;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.navbar-nav .nav-link {
  color: #0d1117 !important;
  font-weight: 500;
  font-size: 16px;
  transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
  color: #007bff !important;
}

.navbar-nav .nav-link {
  position: relative;
  color: #0d1117 !important;
  font-size: 16px;
  font-weight: 500;
  transition: color 0.3s ease;
}

.navbar-nav .nav-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 2px;
  background-color: #0078B8;
  transition: width 0.3s ease;
}


.navbar-nav .nav-link:hover {
  color: #0078B8 !important;
}

.navbar-nav .nav-link:hover::after {
  width: 100%;
}



@media (max-width: 992px) {
  .navbar-nav .nav-link {
    font-size: 15px;
  }
}

@media (max-width: 768px) {
  .navbar-nav .nav-link {
    font-size: 14px;
  }
}
